/* @media (max-width: 1024px)  */
/* --- Home --- */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

hr {
  width: 100%;
}

.top-header {
  display: flex;
}

.top-divider {
  margin-bottom: 3.5rem;
}

.logo {
  width: 8.5rem;
  padding-bottom: 0.7rem;
}

.home-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 100;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(4, 16rem);
}

.activity-card {
  background: #d8d8d8;
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
  margin: 5px;
}

/* --- Register --- */
.user-register-card {
  display: flex;
  justify-content: center;
}

.user-register-form {
  display: flex;
  flex-direction: column;
  width: 22rem;
  gap: 0.4rem;
}

/* --- Login --- */

.user-login-card {
  display: flex;
  justify-content: center;
}

.user-login-form {
  display: flex;
  flex-direction: column;
  width: 22rem;
  gap: 0.4rem;
}
